.App {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 18px;
    color: black;
}

.stats {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 1.5em;
}

.wins {
    color: green;
}

.losses {
    color: red;
}

.stats p {
    display: inline-block;
    color: black;
    justify-self: center;
}

.board {
    display: flex;
    flex-direction: row;
}

.wordCharacter {
    margin: 0 5px;
}

.error {
    color: red;
}

label {
    font-weight: bold;
}