.game {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.hangmanDisplay {
    width: 350px;
    height: 300px;
}

.game form {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}

.game form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.game input[type="text"], select {
    margin-right: 5px;
    background-color: rgb(206, 206, 206);
    border: 3px solid #532cd3;
    font-size: 24px;
    transition: 0.3s ease-in-out;
    border-radius: 25px;
    padding: 5px 10px;
}

.game input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #3c00ff;
}

.game span {
    font-weight: bold;
}

input[type="submit"], button {
    width: fit-content;
    font-size: 20px;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #532cd3;
    border: 1px solid rgb(206, 206, 206);
    transition: 0.3s ease-in-out;
    color: white;
}

input[type="submit"]:hover, button:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
    border-color: #532cd3;
    color: black;
}

.game button {
    align-self: center;
}